<!DOCTYPE html>
<html lang="es " ng-app="dteApp">

<head>
    <title>DTE XML a PDF</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/2.1.0/toaster.min.css">

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularjs-toaster/2.1.0/toaster.min.js"></script>

    <style>

    </style>



    <script>
        angular.module('dteApp', ['ui.bootstrap', 'toaster']);

        angular.module('dteApp').controller('bagModalController', ['$scope', '$http', '$filter', '$uibModalInstance', '$window', function($scope, $http, $filter, $uibModalInstance, $window) {

            $scope.cancel = function() {
                $uibModalInstance.dismiss('cancel');
            };
        }]);

        angular.module('dteApp').controller('mainController', ['$scope', '$http', 'toaster', '$uibModal', function($scope, $http, toaster, $uibModal) {

            $scope.response = {};
            $scope.bagKey = "";

            $scope.bags = [{
                productId: 1,
                name: "Bolsa 1",
                maxDTE: 100,
                netoUnit: 100
            }, {
                productId: 2,
                name: "Bolsa 2",
                maxDTE: 300,
                netoUnit: 50
            }, {
                productId: 7,
                name: "Bolsa 3",
                maxDTE: 500,
                netoUnit: 40
            }, {
                productId: 4,
                name: "Bolsa 4",
                maxDTE: 1000,
                netoUnit: 30
            }, {
                productId: 6,
                name: "Bolsa 5",
                maxDTE: 2000,
                netoUnit: 25
            }, {
                productId: 8,
                name: "Bolsa 6",
                maxDTE: 5000,
                netoUnit: 20
            }, {
                productId: 9,
                name: "Bolsa 7",
                maxDTE: 10000,
                netoUnit: 16
            }, {
                productId: 10,
                name: "Bolsa 8",
                maxDTE: 30000,
                netoUnit: 12
            }, ]

            $scope.openBagModal = function(bag) {
                var modalScope = $scope.$new();

                modalScope.bag = bag;

                var modalInstance = $uibModal.open({
                    templateUrl: 'bag-modal.html',
                    controller: 'bagModalController',
                    scope: modalScope,
                });

                modalInstance.result.then(function(result) {}, null);
            };

            $scope.process = function() {
                $scope.processing = true;

                var formData = new FormData();

                for (var i = 0; i < document.getElementById('files').files.length; i++) {
                    formData.append('file' + i, document.getElementById('files').files[i]);
                }

                var httpRequest = $http({
                    method: 'post',
                    url: "/dte/parseFiles",
                    data: formData,
                    params: {
                        bagKey: $scope.bagKey,
                        captchaResponse: grecaptcha.getResponse()
                    },
                    transformRequest: angular.identity,
                    headers: {
                        'Content-Type': undefined
                    }
                });

                httpRequest.success(function(response) {
                    $scope.response = response;

                    grecaptcha.reset();

                    if (response.error) {
                        //toaster.pop('error', "", response.message);
                        return;
                    }

                    toaster.pop('success', "", "Procesamiento finalizado");
                });

                httpRequest['finally'](function() {
                    $scope.processing = false;
                });
            };
        }]);
    </script>
</head>

<body>
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=327049541097529";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="container" ng-controller="mainController">
        <toaster-container toaster-options="{'time-out': 3000, 'close-button': true, 'position-class': 'toast-bottom-right'}"></toaster-container>
        <h1>Convertir DTE xml a pdf</h1>
        <p>Un DTE (Documento Tributario Electrónico) es un archivo XML que puede representar una factura electrónica, una guia de despacho, una nota de crédito o débito, etc.</p>
        <p>Con esta herramienta puedes convertir uno o varios DTEs (XMLs en formato del <a href="http://www.sii.cl" target="_blank">sii.cl</a>) a PDF amigable y leíble.<br /></p>

        <form id="form" method="post" enctype="multipart/form-data" style="margin-top: 50px">

            <div class="form-group">
                <label>Archivos XML (1 ó varios)</label>
                <input type="file" class="form-control" id="files" name="dummy" multiple ng-disabled="processing" accept=".xml" />
            </div>

            <div class="form-group">
                <label>Clave secreta (uso comercial)</label>
                <input type="password" class="form-control" ng-disabled="processing" ng-model="bagKey" placeholder="" />
            </div>


            <div class="form-group" style="margin-top: 20px">
                <button class="btn btn-default" ng-click="process()" ng-disabled="processing">
                    <span ng-show="processing">Procesando...</span>
                    <span ng-show="!processing">Convertir</span>
                </button>
            </div>

            <div class="alert alert-danger" ng-if="response.error" style="margin-top: 30px">
                <p>{{response.message}}</p>
            </div>

            <div ng-if="!response.results">
                <table class="table table-bordered table-condensed">
                    <tr style="background-color: #f1f1f1">
                        <th>Bolsa</th>
                        <th style="text-align: right">Cantidad de DTE<br />a convertir</th>
                        <th style="text-align: right">Monto neto ($)</th>
                        <th style="text-align: right">IVA ($)</th>
                        <th style="text-align: right">Total con IVA ($)</th>
                        <th style="text-align: center"></th>
                    </tr>
                    <tr ng-repeat="bag in bags">
                        <td><strong>{{ bag.name }}</strong></td>
                        <td style="text-align: right">{{ bag.maxDTE | number: 0 }} DTE</td>
                        <td style="text-align: right">$ {{ bag.maxDTE * bag.netoUnit | number: 0 }}</td>
                        <td style="text-align: right">$ {{ 0.19 * bag.maxDTE * bag.netoUnit | number: 0 }}</td>
                        <td style="text-align: right">$ {{ 1.19 * bag.maxDTE * bag.netoUnit | number: 0 }}</td>
                        <td style="text-align: center">
                            <div class="btn-group" uib-dropdown is-open="status.isopen">
                                <button id="single-button" type="button" class="btn btn-warning btn-sm" uib-dropdown-toggle ng-disabled="disabled">
                                    Comprar <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                                    <li><a href ng-click="openBagModal(bag)">Transferencia</a></li>
                                    <li><a href="/Purchases/Create?ProductId={{ bag.productId }}" target="_blank">Webpay</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </table>

                <div class="alert alert-info">
                    <p><strong>Notas:</strong></p>
                    <ul>
                        <li>Se le proveerá de una clave secreta y una página para consultar el saldo</li>
                        <li>Se le emitirá una factura electrónica de nuestra empresa (Edge Sistemas Ltda)</li>
                        <li><strong>Solo 1 RUT por bolsa</strong> (es decir: en los XML debe estar presente ese RUT, ya sea como emisor o receptor)</li>
                        <li>La bolsa expira en 4 meses</li>
                    </ul>
                </div>
            </div>
        </form>

        <div ng-show="response.results.length > 0">
            <p>
                Procesamiento finalizado. <a class="pull-right" href="{{response.downloadLink}}" target="_blank">Descarga todos en un ZIP</a>
            </p>

            <table class="table table-bordered table-striped">
                <tr>
                    <th>Archivo original</th>
                    <th>Tipo XML</th>
                    <th>Tipo DTE</th>
                    <th>Folio</th>
                    <th>Fecha emisión</th>
                    <th>RUT Emisor</th>
                    <th>RUT Receptor</th>
                    <th>Monto total</th>
                    <th>Resultado</th>
                </tr>
                <tr ng-repeat="result in response.results">
                    <td>{{result.sourceFile}}</td>
                    <td>{{result.tipoXML}}</td>
                    <td>{{result.tipoDTE}}</td>
                    <td>{{result.folio}}</td>
                    <td>{{result.fchEmis}}</td>
                    <td>{{result.rutEmisor}}</td>
                    <td>{{result.rutReceptor}}</td>
                    <td>{{result.mntTotal | number:2}}</td>
                    <td>
                        <span style="color: red" ng-show="result.error">{{result.errorMessage}}</span>
                        <span ng-show="!result.error">OK - <a href="{{result.downloadLink}}" target="_blank">Descargar</a></span>
                    </td>
                </tr>
            </table>
        </div>

        <hr style="margin-top: 30px" />

        <h2>Contacto comercial</h2>
        <p>Para uso comercial, contactar a:</p>
        <ul>
            <li><a href="mailto:gvicencio@edge.cl" target="_blank">gvicencio@edge.cl</a></li>
            <li><a href="http://www.edge.cl" target="_blank">http://www.edge.cl</a></li>
        </ul>

        <hr style="margin-top: 30px" />

        <h2>Publicidad</h2>
        <p>Si te sirvió esta herramienta puedes agradecer pinchando en la publicidad:</p>

        <div style="border: 2px solid black">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- dte-responsive -->
            <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4788671699956881" data-ad-slot="3762336651" data-ad-format="auto"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>

        <hr style="margin-top: 20px" />

        <h2>Changelog</h2>
        <ul>
            <li>Build 11 (2019-05-23): Recaptcha y restricciones de uso</li>
            <li>Build 10 (2018-08-27): Se muestran referencias (notas de crédito y débito)</li>
            <li>Build 9 (2018-08-22): Soporte de Boleta Electrónica</li>
            <li>Build 8 (2018-08-22): Timbre electrónico, se corrigió bug cuando se subían varios archivos</li>
            <li>Build 7 (2017-06-21): HTTPS</li>
            <li>Build 6 (2016-04-12): Soporte de XML con varios DTE's adentro (&lt;SetDTE&gt;)</li>
            <li>Build 5 (2015-05-20): Soporte RespuestaDTE y AEC (además de EnvioDTE)</li>
            <li>Build 4 (2015-03-27): Zip</li>
            <li>Build 3 (2015-03-26): Múltiples archivos</li>
            <li>Build 2 (2015-03-25): Arreglos varios</li>
            <li>Build 1 (2015-03-25): Versión 1</li>
        </ul>

        <!--<hr style="margin-top: 20px" />

        <div class="fb-comments" data-href="https://dte.azurewebsites.net" data-width="100%" data-numposts="5"></div>-->

        <hr />

        <p style="text-align: center">Desarrollado por <a target="_blank" href="http://www.edge.cl">edge.cl</a> y <a target="_blank" href="http://www.manger.cl">manger.cl</a> / contacto: +569 97420235 / gvicencio@edge.cl</p>
    </div>

    <script type="text/ng-template" id="bag-modal.html">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>Comprar {{ bag.name }}</span>
            </h3>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <p>Envía el siguiente email a <a target="_blank" href="mailto:gvicencio@edge.cl,givicencio@gmail.com?subject=Quiero comprar la {{ bag.name }}&body=Hola,%0D%0A%0D%0ACompraremos la {{ bag.name }} ({{ bag.maxDTE }} DTE)%0D%0A%0D%0AEl RUT que siempre aparece en los XML es: __________%0D%0AEl nombre de la empresa es: __________%0D%0A%0D%0AEl RUT para recibir la factura de Edge Sistemas Ltda es: __________%0D%0AEl nombre de la empresa es: __________%0D%0A%0D%0AFavor enviarme los datos para realizar la transferencia de ${{ bag.maxDTE * bag.netoUnit * 1.19 | number: 0 }}"><strong>givicencio@gmail.com</strong></a></p>
                    <div class="form-group">
                        <textarea class="form-control input-sm" style="resize: vertical;" rows="12" ng-readonly="true">
Hola,
Compraremos la {{ bag.name }} ({{ bag.maxDTE }} DTE)
                        
El RUT que siempre aparece en los XML es: ______
El nombre de la empresa es: ______

El RUT para recibir la factura de Edge Sistemas Ltda es: ______
El nombre de la empresa es: ______
                        
Favor enviarme los datos para realizar la transferencia de ${{ bag.maxDTE * bag.netoUnit * 1.19 | number: 0 }}</textarea>
                    </div>

                    <div class="alert alert-info">
                        <p><strong>Notas:</strong></p>
                        <ul>
                            <li>Medio de pago: transferencia electrónica</li>
                            <li>Una vez recibido el comprobante, se le proveerá de una clave secreta y una página para consultar el saldo</li>
                            <li>Durante el día se le enviará una factura electrónica de nuestra empresa (Edge Sistemas Ltda)</li>
                            <li><strong>Solo 1 RUT por bolsa</strong> (es decir: en los XML debe estar presente ese RUT, ya sea como emisor o receptor)</li>
                            <li>La bolsa expira en 4 meses</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary btn-sm" ng-click="cancel()" ng-disabled="working">Cerrar</button>
        </div>

    </script>

</body>

</html>